/* https://github.com/woopen/nplayer/issues/502 */
@media (any-hover: hover) {
    .nplayer_control:hover {
        cursor: default !important;
        opacity: 1 !important;
        pointer-events: auto !important;
    }
}
